#input-container {
    border-color: #3399ff;
    border-style: solid;
    border-width: 0.2em;
    border-radius: 25px;
    padding: 20px;
    margin-left: 30%;
    margin-right: 30%;
}

#tasks {
    display: flex;
    flex-wrap: wrap;
  }

.box {
    display: block;
    text-align: center;
}

.list {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

.task {
    flex-basis: 33%;
}

/* Media Query for mid-sized screens */
@media only screen and (max-width: 768px) {
    .task {
        flex-basis: 50%;
    }
}

/* Media Query for phones */
@media only screen and (max-width: 480px) {
    .task {
        flex-basis: 100%;
    }
}